/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Arial'
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    background-image: url("sunset.jpg");
    , sans-serif;
    }
    header {
    text-align: center;
    margin-bottom: 20px;
    }
    .profile-img {
    width: 150px;
    height: auto;
    }