/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arial'
    line-height: 1.6;
    padding: 20px;
    background-color: #dcd8d6; 
    , sans-serif;
    }
    header {
    text-align: center;
    margin-bottom: 20px;
    }
    figcaption {
      padding: 2px;
      text-align: center;}
    ul {
      max-width: 550px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.6;
    }
    header {
        min-height: 100px;
       
      }
    footer {
        min-height: 50px;
       
      }
      .textcenter { 
        text-align: center;
      }
      .listalign {
        text-align: center;
      }
      .listalign > ul {
        display: inline-block;
      }
      .quote {
        text-align: center;
        font-style: italic;
      }
      #img-div {
        background: white;
        padding: 30px;
        margin: 10;
      }
      
      #img-caption {
        margin: 15px 0 5px 0;
      }